---
layout: default
---

<div class="home">

  <h1 class="page-heading">{{site.title}}</h1>

  <nav id="appnav">
    <amp-accordion>
      <section>
        <h2 class="section-heading">For Teachers</h2>
        <div>.</div>
      </section>
      <section>
        <h2 class="section-heading">For Parents</h2>
        <div>.</div>
      </section>
      <section>
        <h2 class="section-heading">For Physicians</h2>
        <div>.</div>
      </section>
    </amp-accordion>
    </nav>

  <ul class="app-list">
    {% for app in site.apps %}
    <!--{% if app.group == 'parent' %}-->
      <li>
        <p>
          <a class="app-link" href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
        </p>
        </li>
      <!--{% endif %}-->
      {% endfor %}
    </ul>



</div>
