<!doctype html>
<html amp lang="en">

  {% include head.html %}

  <body class="dark">
    <div class="page-content page-container flex-nowrap space-around">
      <div class="page-wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}


  <amp-install-serviceworker
    src="https://www.jakemcclure.github.io/sw.js"
    data-iframe-src="https://www.jakemcclure.github.io/sw.html"
    layout="nodisplay">
  </amp-install-serviceworker>

  <!--<amp-install-serviceworker
    src="/sw.js"
    data-iframe-src="https://www.jakemcclure.github.io/sw.html"
    layout="nodisplay">
  </amp-install-serviceworker>-->

  <link async href="{{ "/scripts/main.min.js" | relative_url }}">

  <script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register("{{ "/sw.js" | relative_url }}").then(function() {
      console.log("Service Worker Registered");
    });
  }
  </script>
  </body>

</html>
